<%= render layout: 'shards/default_box', locals: {box_title: "分时段统计", box_class: "box-primary" } do |box| %>
	<div class="col-md-12" >
		<% case box when Box::Body %>
			<div class="row">
    		<table style="table-layout:fixed;" id="hour_report2_list" th-index="0" class="table table-striped table-bordered table-hover compact small-font" cellspacing="0" width="100%">
    			<thead>
            <tr>
							<th width = "5%" tag="hour_num">时间段</th>
							<th width = "12%" tag="deliver_num"  field_exec="delimiter">下发用户</th>
							<th width = "15%" tag="deliver_amount" field_exec="centToYuan,roundToInt">下发金额</th>
							<th width = "12%" tag="feedback_num" field_exec="delimiter">回传用户</th>
							<th width = "15%" tag="feedback_amount" field_exec="centToYuan,roundToInt">回传金额</th>
							<th width = "12%" tag="sp_feedback_num"  field_exec="delimiter">SP反馈用户</th>
							<th width = "15%" tag="sp_feedback_amount" field_exec="centToYuan,roundToInt">SP反馈金额</th>
							<th width = "7%" tag="sp_feedback_num_ratio" field_exec="percent_int">SP转化率用户</th>
							<th width = "7%" tag="sp_feedback_amount_ratio" field_exec="percent_int">SP转化率金额</th>
            </tr>
           </thead>
           <tbody>
           </tbody>
           <tfoot class="well">
              <tr index="0">
                <td width = "5%">小计</td>
								<td width = "12%" tag="deliver_num" field_exec="delimiter"></td>
                <td width = "15%" tag="deliver_amount" field_exec="centToYuan,roundToInt"></td>
                <td width = "12%" tag="feedback_num" field_exec="delimiter"></td>
                <td width = "15%" tag="feedback_amount" field_exec="centToYuan,roundToInt"></td>
                <td width = "12%" tag="sp_feedback_num" field_exec="delimiter"></td>
                <td width = "15%" tag="sp_feedback_amount" field_exec="centToYuan,roundToInt"></td>
                <td width = "7%" tag="sp_feedback_num_ratio" field_exec="percent_int"></td>
                <td width = "7%" tag="sp_feedback_amount_ratio" field_exec="percent_int"></td>
              </tr>
            </tfoot>
    	</div>
		<% end %>
	</div>

<% end %>
