<!DOCTYPE html>
<html>
<head>
  <title>数据中心 - 数据平台</title>
  <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
